exclude MANIFEST.in
include CHANGES.txt README.rst pyproject.toml tox.ini
include pdal/*.txt
include pdal/*.cmake
include test/*

recursive-include pdal/test *
recursive-include test *
recursive-include pdal *.pyx
recursive-include pdal *.hpp
recursive-include pdal *.cpp
